<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title></title>
</head>

<body>

<div class="main_content">
<div>
  <h1>Getting Started</h1>
  We provided you a test problem and its php code solution
  
  <center><h1>A+B Problem</h1></center>
  <br/>
  <h2>Description</h2>
  <span class="problem_text">Calculate a+b</span>
  
  <h2>Input</h2>
  <span class="problem_text">
  The input will consist of a set of pairs of values for a and b. (Two integer a,b (0&lt;=a,b&lt;=10))</span><br/>
  <span class="problem_text">Input is terminated with a case where a = 0. This case should not be processed.</span>
  <br/><br/>

  <h2>Output</h2>
  <span class="problem_text">Output a+b</span>
  <br/><br/>
  <table width="100%" border="1" cellpadding="4" cellspacing="0">
    <tr>
      <td>Sample Input</td>
      <td>Sample Output</td>
    </tr>
    <tr>
      <td>
      <pre>1 2
5 20
21 10
0</pre></td>
      <td><pre>3
25
31
</pre></td>
    </tr>
  </table>

  <br/>
  <br/>
  <h2>Solution - Sample Code</h2>
  <table width="100%" border="1" cellpadding="4" cellspacing="0">
    <tr>
      <td>
      <pre>${scode}</pre>
      </td>
    </tr>
  </table>

</div>
<br/>



<br/>

</div>

</body>
</html>
