<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title></title>
</head>

<body>

<div class="main_content">
<div>
  <center><h1>Submision Saved</h1></center>
  
  <h2>Your Submit for <b>"${problem.title}"</b> was saved!</h2> <br/>
  File: ${filename}<br/> 
  Size: ${filesize}
  <br/><br/>
  <a href="/problems/list">Back to List</a>
  <br/>
  <br/>
</div>
<br/>



<br/>

</div>

</body>
</html>
