<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Welcome to TurboGears 2.1, standing on the
  shoulders of giants, since 2007</title>
</head>

<body>
    
  <div id="getting_started">
    <h2>Welcome to the Developers Contest</h2>
    <p>Please read getting Started Section to understand the problems and solution models.</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>Read the problem</h3>
        <p> Read and understand the Inputs and ouputs given.</p>
      </li>
      <li class="getting_started">
        <h3>Program the solution based on the A+B problem solution model</h3>
        <p>Your source code should be run over console using php-cli command</p>
      </li>
      <li class="getting_started">
        <h3>Download the data input</h3>
        <p>Download the data input to test your program.</p>
      </li>
      <li class="getting_started">
        <h3>Submit your solution</h3>
        <p>If you have done your tests and you think that your solution is corrent submit to judge online.</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> Thank you for participate.
  </div>
</body>
</html>
